{% extends 'base.html' %}
{% load static %}

{% block title %}
Оборудование защитных и локализующих систем безопасности
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/ct.css' %}">
{% endblock link %}

{% block content %}
<div class="wrapper" style="width: 50%; margin-left: 20%; margin-bottom: 2%; height: 400px;">
  <div class="product-info" >
    <div class="product-text" >
      <h1 style="color: rgb(88, 88, 88);">Оборудование защитных и локализующих систем безопасности</h1>
      <h2 style="color: rgb(61, 61, 61);">ООО "Полесье"</h2>
      <p style="width: 1300px; color: rgb(88, 88, 88);">Защитные системы безопасности – это системы (элементы), предназначенные для предотвращения или <br>
          ограничения повреждения ядерного топлива, оболочек тепловыделяющих элементов, оборудования и трубопроводов, содержавших радиоактивные продукты.<br>
          <br>Локализующие системы безопасности – системы (элементы), предназначенные для предотвращения или ограничения распространения выделяющихся
          <br>при авариях радиоактивных веществ и ионизирующего излучения за установленные проектом границы и выхода их в окружающую среду.
           </p>
    </div>
  </div>
</div>

<section class="cards">
  <article class="card card--32" >

    <div class="card__img1"></div>
    <a href="/temp" class="card_link">
       <div class="card__img1--hover"></div>
     </a>
    <div class="card__info">
      <span class="card__category">Безопасность</span>
      <h3 class="card__title">Тамбур-шлюз<br>
          (2 класс безопасности)</h3>
    </div>
  </article>

  <article class="card card--33" >

      <div class="card__img1"></div>
      <a href="/temp" class="card_link">
         <div class="card__img1--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category">Безопасность</span>
        <h3 class="card__title"> Затвор воздушный
          <br>(2 класс безопасности)</h3>

      </div>
    </article>
    </section>
{% endblock content %}
