{% extends 'base.html' %}
{% load static %}

{% block title %}
О предприятии
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/ct.css' %}">
{% endblock link %}

{% block body_style %}
background-color: rgb(255, 255, 255);
{% endblock body_style %}


{% block content %}
<img src="http://bsertifik.com/images/Alloy-Wheel-Welding-Banner.jpg" width="100%" height="700" alt="" />
<div class="container">
  <div class="row">
    <div class="col-12 py-3">
      <div>
        <div >
          <h1 style="color: rgb(155, 146, 146);">Наши корпоративные ценности составляют основу всего, что мы делаем</h1>
          <h2 style="color: rgb(185, 178, 178);">ООО "Полесье"</h2>
          <p>За время своего существования ООО "Полесье" успешно сконструировало, изготовило и поставило оборудование для таких объектов как: Балаковская АЭС (Россия), Балтийская АЭС (Россиия), Белоярская АЭС (Россия), Волгодонская АЭС (Россия),  Калининская АЭС (Россия), Кольская АЭС (Россия), Курская АЭС (Россия), Ленинградская АЭС (Россия), Нововоронежская АЭС (Россия), Ростовская АЭС (Россия), Смоленская АЭС (Россия), Армянская АЭС (Армения), АЭС "Куданкулам" (Индия), АЭС "Тяньвань" (Китай) и др.<br>

            <br>Стабильность финансового состояния, рентабельность производства, отсутствие кредитной задолженности и задолженности перед бюджетом, высокое качество выполняемых работ позволяют нашему предприятию поддерживать производственные и коммерческие связи со многими предприятиями и организациями России и некоторых зарубежных стран.
            </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <img class="img-fluid" src="{% static 'images/Директор ООО Полесье Семенюк Владимир Васильевич.jpg' %}" height="420" width="500" />
      <p class="pt-1" style="text-align:left; color: rgb(112, 112, 112); font-family: 'Playfair Display', serif;">
        Директор ООО «Полесье»
        Семенюк Владимир Васильевич
      </p>
    </div>
    <div class="col-12 col-md-6">
      <h1 style="color: rgb(141, 138, 138) ;">О нас</h1>
      <p>ООО "Полесье" образовано в 1998 году как производственное предприятие, основной деятельностью которого является конструирование<br>
        и изготовление оборудования для атомной энергетики,традиционной энергетики, нефтегазового комплекса, металлургии и других отраслей<br>
        промышленности.<br>
       <br>Целью предприятия является изготовление оборудования высокого качества, отвечающего требованиям правил, норм и стандартов по безопасности, <br>
       что является залогом успешной и стабильной работы предприятия и обеспечивает доверие потребителей.<br>
        </p>
    </div>
    <div class="col-12">
      <h1 style="color: rgb(155, 146, 146);">Лицензии и система качества</h1>
      <p>Вся деятельность предприятия по обеспечению качества при конструировании и изготовлении
      важных для безопасности атомных станций оборудования, изделий и систем регламентирована
      в Программах обеспечения качества, которые разработаны в соответствии с требованиями
      Федеральных норм и правил в области использования атомной энергии НП-090-11 «Требования
      к программам обеспечения качества для объектов использования атомной энергии»,
      с учётом рекомендаций МАГАТЭ по обеспечению качества и положений международных стандартов
      ИСО серии 9000.<br>

      <br>С целью организации эффективного управления предприятием и наиболее полного удовлетворения
      требований Заказчика в ООО «Полесье» разработана и внедрена система менеджмента качества (СМК)
      в соответствии с требованиями МС ИСО 9001. Документация системы качества включает Руководство
      по качеству, стандарты предприятия, а также рабочие и контрольные инструкции.<br>

      <br>В Руководстве по качеству описаны Политика в области качества, организационная структура
      предприятия, элементы системы качества и сфера ответственности за их выполнения, а также
      положение, касающиеся системы качества.<br>

      <br>Стандарты предприятия утверждаются директором, и после введения их в действие становятся
      законами жизни предприятия, обязательными для исполнения всем персоналом ООО «Полесье».</p>
    </div>
    <p style="text-align: center; color: rgb(112, 112, 112); font-family: 'Playfair Display', serif;">
      Предприятие имеет лицензии Федеральной службы по экологическому, технологическому и атомному надзору:
    </p>
  </div>
  {% for object in object_list %}
    <div class="col-12">
      {% if object.name %}
        <h1 class="text-center" style="color: rgb(155, 146, 146);font-family: 'Playfair Display', serif;">
          {{object.name}}
        </h1>
      {% endif %}
      <div class="row">
        {% for image in object.images.all %}
          <div class="col-6 col-md-4">
            <img class="img-fluid" src="{{image.img.url}}" alt="">
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
