{% extends 'base.html' %}
{% load static %}

{% block title %}
О предприятии
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/ct.css' %}">
{% endblock link %}

{% block body_style %}
background-color: rgb(255, 255, 255);
{% endblock body_style %}


{% block content %}
<img src="http://bsertifik.com/images/Alloy-Wheel-Welding-Banner.jpg" width="100%" height="700" alt="" />
<div class="container product-info product-text">
<div class="row">
  <div class="col-12">
    <h1 style="color: rgb(155, 146, 146);">Наши корпоративные ценности составляют основу всего, что мы делаем</h1>
     <h2 style="color: rgb(185, 178, 178);">ООО "Полесье"</h2>
 </div>
 <div class="col-12">
   <p>За время своего существования ООО "Полесье" успешно сконструировало, изготовило и поставило оборудование для таких объектов как: Балаковская АЭС (Россия), Балтийская АЭС (Россиия), Белоярская АЭС (Россия), Волгодонская АЭС (Россия),  Калининская АЭС (Россия), Кольская АЭС (Россия), Курская АЭС (Россия), Ленинградская АЭС (Россия), Нововоронежская АЭС (Россия), Ростовская АЭС (Россия), Смоленская АЭС (Россия), Армянская АЭС (Армения), АЭС "Куданкулам" (Индия), АЭС "Тяньвань" (Китай) и др.<br>

     <br>Стабильность финансового состояния, рентабельность производства, отсутствие кредитной задолженности и задолженности перед бюджетом, высокое качество выполняемых работ позволяют нашему предприятию поддерживать производственные и коммерческие связи со многими предприятиями и организациями России и некоторых зарубежных стран.
     </p>
 </div>
</div>
</div>

<div class="wrapper" style="width: 600px; background-color: #ffffff; margin-left: 22%; height: 400px;">
  <div class="product-img">
    <img src="{% static 'images/Директор ООО Полесье Семенюк Владимир Васильевич.jpg' %}" height="420" width="500" float="left">
  </div>
  <div class="product-info" style="width: 10%; background-color: #ffffff; height: 400px;">
    <div class="product-text" style="width: 700px ;" >
      <h1 style="color: rgb(141, 138, 138) ; width: 500px;">О нас</h1>
      <p style="width: 600px;">ООО "Полесье" образовано в 1998 году как производственное предприятие, основной деятельностью которого является конструирование<br>
        и изготовление оборудования для атомной энергетики,традиционной энергетики, нефтегазового комплекса, металлургии и других отраслей<br>
        промышленности.<br>

       <br>Целью предприятия является изготовление оборудования высокого качества, отвечающего требованиям правил, норм и стандартов по безопасности, <br>
       что является залогом успешной и стабильной работы предприятия и обеспечивает доверие потребителей.<br>



        </p>
    </div>
  </div>
</div>

<p style="text-align:left; color: rgb(112, 112, 112); font-family: 'Playfair Display', serif; margin-left: 24%;">Директор ООО «Полесье»
  Семенюк Владимир Васильевич</p>

  <div class="wrapper" style="width: 70%; margin-top: 2%;">
    <div class="product-info" style="width: 1600px;">
      <div class="product-text" style="width: 1500px;">
        <h1 style="color: rgb(155, 146, 146); margin-left: 30%; margin-bottom: 3%;">Лицензии и система качества</h1>

        <p style="width: 1300px;">Вся деятельность предприятия по обеспечению качества при конструировании и изготовлении
        важных для безопасности атомных станций оборудования, изделий и систем регламентирована
        в Программах обеспечения качества, которые разработаны в соответствии с требованиями
        Федеральных норм и правил в области использования атомной энергии НП-090-11 «Требования
        к программам обеспечения качества для объектов использования атомной энергии»,
        с учётом рекомендаций МАГАТЭ по обеспечению качества и положений международных стандартов
        ИСО серии 9000.<br>

        <br>С целью организации эффективного управления предприятием и наиболее полного удовлетворения
        требований Заказчика в ООО «Полесье» разработана и внедрена система менеджмента качества (СМК)
        в соответствии с требованиями МС ИСО 9001. Документация системы качества включает Руководство
        по качеству, стандарты предприятия, а также рабочие и контрольные инструкции.<br>

        <br>В Руководстве по качеству описаны Политика в области качества, организационная структура
        предприятия, элементы системы качества и сфера ответственности за их выполнения, а также
        положение, касающиеся системы качества.<br>

        <br>Стандарты предприятия утверждаются директором, и после введения их в действие становятся
        законами жизни предприятия, обязательными для исполнения всем персоналом ООО «Полесье».</p>
      </div>
    </div>
  </div>

        <br><p style="text-align: justify; color: rgb(112, 112, 112); font-family: 'Playfair Display', serif; margin-left: 17%;"> Предприятие имеет лицензии Федеральной службы по экологическому, технологическому и
        атомному надзору:</p><br>





        <div id="gall">
        <img src="{% static 'images/лицензия1.jpg' %}" tabindex="0" border="3"/>
        <img src="{% static 'images/лицензия2.jpg' %}" tabindex="0" border="3"/>
        <img src="{% static 'images/лицензия3.jpg' %}" tabindex="0" border="3" />
        <img src="{% static 'images/лицензия4.jpg' %}" tabindex="0" border="3"/>
        <img src="{% static 'images/лицензия5.jpg' %}" tabindex="0" border="3"/>
        <img src="{% static 'images/лицензия6.jpg' %}" tabindex="0" border="3"/>

        </div>


            <h1 style="color: rgb(155, 146, 146); margin-left: 15%; margin-top: 3%; margin-bottom: 1%; font-family: 'Playfair Display', serif;">Сертификат одобрения изготовителя оборудования для
          строящейся АЭС «Аккую»  (Турция) </h1>


          <img style="margin-left: 30%; width: 40%;" src="{% static 'images/аккую.jpg' %}" />


        <h1 style="color: rgb(155, 146, 146); margin-left: 15%; margin-top: 3%; font-family: 'Playfair Display', serif;"> Свидетельства подтверждения регистрации в КИТАЙСКОЙ НАРОДНОЙ РЕСПУБЛИКЕ </h1>


          <div id="gall">
            <img   src="{% static 'images/1255_1.jpg' %}" tabindex="0" border="3"  />

            <img   src="{% static 'images/1255_2.jpg' %}" tabindex="0" border="3"  />
            <img   src="{% static 'images/1256_1.jpg' %}" tabindex="0" border="3"  />
            <img   src="{% static 'images/1256_2.jpg' %}" tabindex="0" border="3"  />
            <img   src="{% static 'images/1256_1.jpg' %}" tabindex="0" border="3"  />
            <img   src="{% static 'images/1256_2.jpg' %}" tabindex="0" border="3"  />
          </div>
{% endblock content %}