{% extends 'base.html' %}
{% load static %}

{% block title %}
Контакты
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/3.css' %}">
{% endblock link %}

{% block header %}
<nav class="navbar navbar-dark">
  <a class="navbar-brand" href="/">
    <img src="{% static 'images/лого стр.png' %}" height="80" alt="">
  </a>
</nav>
{% endblock header %}

{% block content %}
<section class="cards-wrapper">
  {% for ns in object_list %}
  <div class="card-grid-space">
    <a class="card" href="/news/{{ns.id}}"  style="background-color: #08286d;">
      <div>
        <h1>{{ns.title}}</h1>
        <p>{{ns.text}}</p>
        <div class="date">{{ns.date}}</div>
        <div class="tags">
          <div class="tag">{{ns.tag}}</div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</section>
{% endblock content %}

{% block footer %}
<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                <h3>ООО "Полесье"</h3>
                  <ul>
                      <li><a href="#">О компании</a></li>
                      <li><a href="#">Система качества</a></li>
                      <li><a href="#">Каталог оборудования</a></li>
                      <li><a href="#">Услуги</a></li>
                      <li><a href="#">Контакты</a></li>
                  </ul>
              </div>

          <p class="copyright">ООО "Полесье" © 2021</p>
      </div>
  </footer>
</div>
{% endblock footer %}