{% extends 'base.html' %}
{% load static %}

{% block title %}
Новости
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/ct.css' %}">
<link rel="stylesheet" href="{% static 'css/3.css' %}">
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock link %}

{% block body_style %}
background-color: rgb(255, 255, 255);
{% endblock body_style %}

{% block content %}
<section class="info">
  <img src="https://codetheweb.blog/assets/img/icon2.png">
  <h1>Learn HTML &mdash; <a href="https://codetheweb.blog/" target="_blank">Code The Web</a></h1>
</section>
<section class="cards-wrapper">
  <div class="card-grid-space">
    <a class="card"  style="background-color: #08286d;">
      <div>
        <h1>АЭС Сюйдапу</h1>
        <p>Отгружен "Бак организованных протечек" на Блок №4 АЭС "Сюйдапу" (Китай)</p>
        <div class="date">6 Апр 2022</div>
        <div class="tags">
          <div class="tag">Отгрузка</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <a class="card" style="background-color: #08286d;">
      <div>
        <h1>АЭС Куданкулам</h1>
        <p>Отгружена "Ловушка фильтрующих материалов на Бок №5 АЭС "Куданкулам" (Индия)</p>
        <div class="date">9 Апр 2022</div>
        <div class="tags">
          <div class="tag">Отгрузка</div>
        </div>
      </div>
    </a>
  </div>
  <div class="card-grid-space">
    <a class="card"  style="background-color: #08286d;">
      <div>
        <h1>Курская АЭС</h1>
        <p>Отгружен "Воздухосборник" на "Курскую" АЭС (России)</p>
        <div class="date">14 Апр 2022</div>
        <div class="tags">
          <div class="tag">Отгрузка</div>
        </div>
      </div>
    </a>
  </div>

  <div class="card-grid-space">
    <a class="card"  style="background-color: #08286d;">
      <div>
        <h1>АЭС Руппур</h1>
        <p>Отгружен "Блок фильтрующих модулей" на Блок №1 АЭС "Руппур" (Бангладеш)</p>
        <div class="date">14 Апр 2022</div>
        <div class="tags">
          <div class="tag">Отгрузка</div>
        </div>
      </div>
    </a>
  </div>
</section>
{% endblock content %}
