{% extends 'base.html' %}
{% load static %}

{% block title %}
Сосуды, емкостное оборудование и баки
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/ct.css' %}">
{% endblock link %}

{% block content %}
<div class="wrapper" style="width: 50%; margin-left: 18%; margin-bottom: 2%; height: 400px;">
  <div class="product-info" >
    <div class="product-text" >
      <h1 style="color: rgb(88, 88, 88);">Сосуды, емкостное оборудование и баки</h1>
      <h2 style="color: rgb(61, 61, 61);">ООО "Полесье"</h2>
      <p style="width: 1300px; color: rgb(88, 88, 88);">Емкостное оборудование — это резервуары для приема, временного хранения, обработки, выдачи и безопасной транспортировки агрессивных,<br>
          токсичных, взрывоопасных продуктов в жидком или газообразном агрегатном состоянии. В зависимости от климатических и эксплуатационных условий, типа среды, для которой предназначена емкость,<br>
           она может иметь различный объем, внутреннюю конструкцию и вариант расположения в пространстве, а также изготавливаться из разных марок стали.<br>
           </p>
    </div>
  </div>
</div>

<section class="cards">
  <article class="card card--18" >

    <div class="card__img1"></div>
    <a href="/temp" class="card_link">
       <div class="card__img1--hover"></div>
     </a>
    <div class="card__info">
      <span class="card__category">Емкостное оборудование</span>
      <h3 class="card__title">Термический деаэратор подпиточной воды<br>
          (3 класс безопасности)</h3>

    </div>
  </article>

  <article class="card card--19" >

      <div class="card__img1"></div>
      <a href="/temp" class="card_link">
         <div class="card__img1--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category">Баки</span>
        <h3 class="card__title">Бак V=50 м3</h3>

      </div>
    </article>

    <article class="card card--20" >

      <div class="card__img1"></div>
      <a href="/temp" class="card_link">
         <div class="card__img1--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category">Емкостное оборудование</span>
        <h3 class="card__title">Барботер<br>
          (2 класс безопасности)</h3>

      </div>
    </article>
</section>

<section class="cards">
  <article class="card card--21" >

    <div class="card__img1"></div>
    <a href="/temp" class="card_link">
       <div class="card__img1--hover"></div>
     </a>
    <div class="card__info">
      <span class="card__category">Резервуары</span>
      <h3 class="card__title">Промежуточный резервуар запаса топлива емкостью <br> 100 м3
          для резервной дизельной электростанции<br>
          (2 класс безопасности)</h3>
    </div>
  </article>

  <article class="card card--22" >

      <div class="card__img1"></div>
      <a href="/temp" class="card_link">
         <div class="card__img1--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category">Баки</span>
        <h3 class="card__title"> Бак сбора концентрата<br>
          (4 класс безопасности)</h3>

      </div>
    </article>

    <article class="card card--23" >

      <div class="card__img1"></div>
      <a href="/temp" class="card_link">
         <div class="card__img1--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category">Емкостное оборудование</span>
        <h3 class="card__title">Ванна унифицированная<br>
          (3 класс безопасности)</h3>

      </div>
    </article>
</section>


<section class="cards">
  <article class="card card--24" >

    <div class="card__img1"></div>
    <a href="/temp" class="card_link">
       <div class="card__img1--hover"></div>
     </a>
    <div class="card__info">
      <span class="card__category">Баки</span>
      <h3 class="card__title">Бак сбора протечек боросодержащих вод<br>
          (3 класс безопасности)</h3>
    </div>
  </article>

  <article class="card card--25" >

      <div class="card__img1"></div>
      <a href="/temp" class="card_link">
         <div class="card__img1--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category">Баки</span>
        <h3 class="card__title"> Расходный бак дизельного топлива<br>
          (3 класс безопасности)</h3>

      </div>
    </article>

    <article class="card card--26" >

      <div class="card__img1"></div>
      <a href="/temp" class="card_link">
         <div class="card__img1--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category">Емкостное оборудование</span>
        <h3 class="card__title"> Модуль подготовки охлаждающей
          жидкости<br>
          (4 класс безопасности)</h3>

      </div>
    </article>
</section>
{% endblock content %}
