{% extends 'base.html' %}
{% load static %}

{% block title %}
Теплообменное оборудование
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/ct.css' %}">
{% endblock link %}

{% block content %}
<div class="wrapper" style="width: 50%; margin-left: 18%; margin-bottom: 8%; height: 400px;">
  <div class="product-info" >
    <div class="product-text" >
      <h1 style="color: rgb(88, 88, 88);">Теплообменное оборудование</h1>
      <h2 style="color: rgb(61, 61, 61);">ООО "Полесье"</h2>
      <p style="width: 1300px; color: rgb(88, 88, 88);">Теплообменное оборудование – техническое устройство, предназначенное для передачи тепла между нагретой средой и холодной.<br>
           Чаще всего теплообмен осуществляется через элементы конструкции аппарата, хотя встречаются агрегаты, принцип действия которых основан на смешении двух сред.<br>

          <br>Области применения теплообменных аппаратов:<br>

          -системы отопления;<br>
          -металлургия;<br>
          -энергетика;<br>
          -тепловые пункты;<br>
          -химическая и пищевая промышленности;<br>
          -системы кондиционирования и вентилирования воздуха;<br>
          -коммунальное хозяйство;<br>
          -атомная и холодильная отрасли. </p>
    </div>
  </div>
</div>

<section class="cards">
  <article class="card card--9" >

    <div class="card__img1"></div>
    <a href="/temp" class="card_link">
       <div class="card__img1--hover"></div>
     </a>
    <div class="card__info">
      <span class="card__category">Теплообменное оборудование</span>
      <h3 class="card__title">Регенеративный теплообменник продувки<br>
          (2 класс безопасности)</h3>

    </div>
  </article>

  <article class="card card--10" >

      <div class="card__img1"></div>
      <a href="/temp" class="card_link">
         <div class="card__img1--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category">Теплообменное оборудование</span>
        <h3 class="card__title">Теплообменник Е-300</h3>

      </div>
    </article>

    <article class="card card--11" >

      <div class="card__img1"></div>
      <a href="/temp" class="card_link">
         <div class="card__img1--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category">Теплообменное оборудование</span>
        <h3 class="card__title">Теплообменник доохлаждения продувки и
          охлаждения дренажей парогенераторов<br>
          (2 класс безопасности)</h3>

      </div>
    </article>
</section>

<section class="cards">
  <article class="card card--12" >

    <div class="card__img1"></div>
    <a href="/temp" class="card_link">
       <div class="card__img1--hover"></div>
     </a>
    <div class="card__info">
      <span class="card__category">Теплообменное оборудование</span>
      <h3 class="card__title">Холодильник АК<br>
          (2 класс безопасности)</h3>
    </div>
  </article>

  <article class="card card--13" >

      <div class="card__img1"></div>
      <a href="/temp" class="card_link">
         <div class="card__img1--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category">Теплообменное оборудование</span>
        <h3 class="card__title"> Охладитель конденсата греющего пара СВО<br>
          (4 класс безопасности)</h3>

      </div>
    </article>

    <article class="card card--14" >

      <div class="card__img1"></div>
      <a href="/temp" class="card_link">
         <div class="card__img1--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category">Теплообменное оборудование</span>
        <h3 class="card__title">Теплообменник отбора проб<br>
          (3 класс безопасности)</h3>

      </div>
    </article>
</section>

<section class="cards3">
  <article class="card card--15" >

    <div class="card__img1"></div>
    <a href="/temp" class="card_link">
       <div class="card__img1--hover"></div>
     </a>
    <div class="card__info">
      <span class="card__category">Теплообменное оборудование</span>
      <h3 class="card__title">Теплообменник СПОТ ЗО<br>
          (3 класс безопасности)</h3>
    </div>
  </article>

  <article class="card card--16" >

      <div class="card__img1"></div>
      <a href="/temp" class="card_link">
         <div class="card__img1--hover"></div>
       </a>
      <div class="card__info">
        <span class="card__category">Теплообменное оборудование</span>
        <h3 class="card__title"> Теплообменник СПОТ ПГ<br>
          (3 класс безопасности)</h3>

      </div>
    </article>
</section>

<section class="cards" >
  <article class="card card--17"  >

    <div class="card__img1"></div>
    <a href="/temp" class="card_link">
       <div class="card__img1--hover" ></div>
     </a>
    <div class="card__info">
      <span class="card__category">Теплообменное оборудование</span>
      <h3 class="card__title">Системы трубные для теплообменного оборудования<br>
          (2-3 классы безопасности)</h3>
    </div>
  </article>
</section>

{% endblock content %}
