{% extends 'base.html' %}
{% load static %}

{% block title %}
Вакансии
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/3.css' %}">
{% endblock link %}

{% block body_style %}
background-color: rgb(255, 255, 255);
{% endblock body_style %}

{% block content %}

<img src="{% static 'images/работа.png' %}" width="1530" height="570" style="margin-left: 10% ;"  alt="" />

<div class="image-caption">
    <div class="category"><p style="color: rgb(29, 31, 146);">ООО "Полесье"</p></div>
    <h2 class="post-title" style="margin-top: 3%; color: rgb(29, 31, 146);"><p>Карьера</p></h2>
    <div class="post-readmore"><p style="color: rgb(29, 31, 146);">Мы предлагаем специалистам стать частью нашей команды.<br>
        За 24 года работы мы выполнили более 10000 проектов.<br>
        Мы продолжаем наращивать производственные мощности,<br>
        а также увеличивать географию заказов нашего оборудования.<br>
        <br>Наше предприятие полностью ориентированно на потребителя:<br>
        мы внимательно и бережно относимся к интересам потребителей,<br>
        стремимся предвосхищать их ожидания, строим долговременные<br>
         партнерские отношения,основанные на взаимном доверии и <br>
         поиске оптимальных решений,способствующих успеху заказчика. <br></p>

          <p style="float:right ; color: rgb(29, 31, 146);"> Наше предприятие ведет работы в таких направлениях как:<br>

                <br>-конструирование и изготовление оборудования для атомной энергетики<br>
                -предоставление услуг испытательной лаборатории<br>
                -заготовительные работы<br>
                -конструирование<br>
           <br> Хочешь стать частью нашего предприятия? Выбирай свою вакансию!
        </p>

            <ul type="square" style="float: right ;">

            </ul> </div> </div></div>

            <div class="navigaonusing">
                <div class="gaonutosal">
                <div class="pesontedan">
                <input id="pesontedan-one" type="checkbox" name="pesontedans">
                <label for="pesontedan-one">Программист</label>
                <div class="pesontedan-content">
                <p><h4>Обязанности:</h4> -участие во внутренних проектах автоматизации деятельности организации; <br>
                    -доработка конфигураций компании по нуждам пользователей;<br> -администрирование и обновление кастомизированных конфигураций; <br>
                    -обучение, консультирование и поддержка пользователей по работе в прикладных решениях.<br>
                    <br> <h4>Требования:</h4>
                    -знание платформы 1С 8.3, механизмов интеграции 1С с внешними источниками данных, обмен данными между конфигурациями, в том числе SOAP, HTTP-сервисы,XML, JSON, ADO, SQL;<br>
                    -самостоятельная разработка / доработка приложений на платформе 1С 8.3;<br>
                    -понимание основных принципов оперативного и бухгалтерского учета;<br>
                    -знание БП 3.0, КА2, ERP или ЗУП 3.1.<br>

                    <br><h4>Заработная плата: от 40 000 руб.</h4></p>
                </div>
                </div>
                <div class="pesontedan">
                <input id="pesontedan-two" type="checkbox" name="pesontedans">
                <label for="pesontedan-two"> Инженер-технолог, технолог по сварке, технолог по нормированию труда</label>
                <div class="pesontedan-content">
                <p><h4>Обязанности:</h4> -разрабатывать и внедрять прогрессивные, экономически обоснованные, ресурсосберегающие, конкурентноспособные технологические процессы на выпускаемую продукцию;<br>
                    -разработка технологической документации;<br>
                    -разработка технологических паспортов на детали, сборочные единицы и т.п.<br>
                    <br> <h4>Требования:</h4>
                    -высшее или средне профессиональное (техническое) образование;<br>

                    -опыт работы приветствуется.
                    <br>

                    <br><h4>Заработная плата: от 25 000 руб.</h4></p>
                </div>
                </div>
                <div class="pesontedan">
                <input id="pesontedan-three" type="checkbox" name="pesontedans">
                <label for="pesontedan-three"> Менеджер по маркетингу</label>
                <div class="pesontedan-content">
                <p><h4>Обязанности:</h4> -обеспечение предприятия заказами;<br>
                    -проработка заявок на изготовление оборудования;<br>
                    -подготовка и оформление технико-коммерческих предложений;<br>
                    -подготовка и оформление конкурсной документации;<br>
                    -организация отгрузки готовой продукции;<br>
                    -комплексный анализ технической и экономической эффективности заказов.<br>
                    <br> <h4>Требования:</h4>
                    -образование высшее, техническое;<br>

                    -опыт работы обязателен.
                    <br>

                    <br><h4>Заработная плата: от 35 000 руб.</h4></p>
                </div>
                </div>
                </div>
{% endblock content %}

{% block footer %}
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                  <h3>ООО "Полесье"</h3>
                    <ul>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Система качества</a></li>
                        <li><a href="#">Каталог оборудования</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>

                <p class="copyright"><br>Юридический и почтовый адрес:<br>
                  Россия, 347360, Ростовская обл., г. Волгодонск, ул. Степная, 16/1<br>
                  Телефон/факс: (8632) 85-61-89<br>ООО "Полесье" © 2021</p>
        </div>
    </footer>
</div>
{% endblock footer %}